
<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
      <div class="col-8 offset-2 responsive-main">
        <h3 class="responsive-title">Create a New Listing</h3>
        <form method="POST" action="/listings"
         novalidate class="needs-validation" 
         enctype="multipart/form-data">

          <div class="mb-3 responsive-text">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" 
              placeholder="Add a catchy title" 
              type="text" 
              class="form-control" 
              required 
            />
            <div class="valid-feedback responsive-feedback">Title looks good!</div>
          </div>

          <div class="mb-3 responsive-text">
            <label for="description" class="form-label">Description</label>
            <textarea 
              name="listing[description]" 
              class="form-control responsive-textarea"
              required>
            </textarea>
            <div class="invalid-feedback responsive-feedback"> Please enter a short Description </div>
            
          </div>
          <div class="mb-3 responsive-text">
            <label for="category" class="form-label">Category</label>
            <select 
              name="listing[category]" 
              class="form-select"
              required>
              <option value="" disabled selected>Select a category</option>
              <option value="Apartment">Apartment</option>
              <option value="House">House</option>
              <option value="Homestay">Homestay</option>
              <option value="Cabin">Cabin</option>
              <option value="Villa">Villa</option>
              <option value="Hotel">Hotel</option>
              <option value="Bungalow">Bungalow</option>
              <option value="Room">Room</option>
              <option value="Studio">Studio</option>
              <option value="Farmhouse">Farmhouse</option>
            </select>
            <div class="invalid-feedback responsive-feedback"> Please select a category </div>
          </div>

           <div class="mb-3 responsive-text">
            <label for="image" class="form-label">Upload  Listing Image</label>
            <input name="listing[image]"  
              type="file" 
              class="form-control"
              required 
            />
          </div>

          <div class="row">
            <div class="mb-3 col-md-4 responsive-text">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]"
               placeholder="1200" 
               type="text" 
               class="form-control" 
               required
              />
                <div class="invalid-feedback responsive-feedback">Price should be valid!</div>
            </div>
            <div class="mb-3 col-md-8 responsive-text">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" 
                placeholder="India" 
                type="text" 
                class="form-control" 
                required
              />
               <div class="invalid-feedback responsive-feedback">Country name should be valid!</div>
            </div>
          </div>

          <div class="mb-3 responsive-text">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" 
                placeholder="Agra, Uttar Pradesh" 
                type="text"
                class="form-control"
                required 
              />
               <div class="invalid-feedback responsive-feedback">Location should be valid!</div>
          </div>

          <button class="btn btn-dark add-btn mb-3 responsive-btn">Add</button>

        </form>
      </div>
    </div>