
    .container {
      top: 1px;
      z-index: 1000;
      background-color: white;
    }

    #filters {
      display: flex;
      flex-wrap: wrap;
    }

    .filter {
      text-align: center;
      margin-right: 1.5rem;
      margin-top: 1.5rem;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.8rem;
    }

    .filter i {
      font-size: 1.4rem;
    }

    .navbar-collapse {
      background-color: white;
    }

    .tax-info {
      display: none;
    }

    .tax-toggel {
      border: 1px solid black;
      border-radius: 1rem;
      height: 3rem;
      padding: 1rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
    }

