/* search bar */
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px;
    width: 250px;
    padding: 0.5rem 3rem 0.5rem 3rem ;
    font-size: 0.9rem;
  }
  