body{
    font-family: "plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
/*navbar*/

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem
}

.nav-link {
    color: #111010 !important;
}

/*footer*/
.f-info-link a {
    text-decoration: none;
}

.f-info-link a:hover {
    text-decoration: underline;
}

.f-info-link,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/*cards*/

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
}

.card-img-top {
    border-radius: 1rem !important;
    width: calc(100% - 30px) !important;
    margin-left: 15px;
    margin-right: 15px;
    object-fit: cover !important;
}

.card-body{
   
    padding: 1rem 15px !important;
}
.card-text p {
    font-size: 1.2rem;
    font-weight: 600 !important;
}

.listing-link {
    text-decoration: none !important   ;
}

/*card effect*/
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
/*buttons*/

.add-btn ,.edit-btn {
background-color: #fe424d !important;
border: none !important;
}

.add-btn:hover, .edit-btn:hover {
    background-color: #fe424d !important;
    opacity: 0.8;
}

/*show page */
.show-img {
    
    height: 30vh;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    object-fit: cover;
}

.btns{
    display: flex;
    margin-bottom: 10px;
}

.show-card {
  
    padding-left: 15px !important;
    padding-right: 15px !important;
}  

/* map */

#map {
  
    height: 400px;     
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.category{
    font-size: 1rem;
    color: #555;
    margin-top: -10px;
    margin-bottom: 10px;
}
/* search bar */
  .search-btn{
    background-color: #fe424d !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
  }
  .search-btn:hover{
    background-color: #fe424d !important;
    color: #fff !important;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px!important;
    width: 250px!important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
    font-size: 0.9rem!important;
  }
  
/* Responsive Design */
@media (max-width: 767px) {
  .responsive-main {
    width: 100%;
   padding: 10px 10px;
  }
  .responsive-card {
   padding: 10px 10px;
    width: 100%;
  }

  .responsive-textarea {
    width: 100% !important;
    height: 40px !important; 
    font-size: 1.1rem !important;
  }
  .responsive-review-card {
   
    width: calc(100% - 20px);
   margin: 0 10px;
   padding: auto;
  }

  .responsive-btns .edit-btn  {
    margin-left: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;}
  }